@page "/datatables" 
@using Shared.Datatables.net.Models

<h3>Datatables</h3>

Datatables.net Jquery Plugin


<button class="btn btn-primary" @onclick="loadData">Load Data</button>

@code { 
	public void loadData() 
	{
		
	}

}
